<a href="https://colab.research.google.com/github/bhagyashree-jadhao/first/blob/main/Basic_python_assignment_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Basic python assignments 1

## 1)explain the key featutes of Python that take it a popular choice for programming
Ans :-    
•	Python is high level programming
•	Easy to used and learn
•	It dynamically type languages mean at the variable declaration there is no need to define data type to the variable PVM automatically understood the data type based on value
•	There is huge amount of library available in python.
•	Once we write the python code on any machine it will be executed on any machine once write code and execute anywhere
•	And also used in scripting as well as analytics   
•	It is an interpreter programming languages.
•	Python used in web development ,
•	 analytics data science, ML and AI .

## 2) Describe the role of predefined keywords in Python and provide examples of how they are used in a program

Ans:- keywords mean the reserved word it has some meaning and every keyword having there own meaning and purpose we cannot used keyword as variable name .   there is 35 keyword in python
If we want to see keyword list then use this code

In [ ]:
import keyword
#print(len(keyword.kwlist))
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [ ]:
a,b,c=80,500,60
if a>b and a>c:
    print(f"{a} is greter")
elif b>a and b>c:
    print(f"{b} is greater")
else:
    print(f"{c} is greater")

500 is greater

If is a conditional statement used for condition checking else and elif also part of conditional statements .
def is keyword used to define function see the example below

In [ ]:
def square(a):
    return a*a

In [ ]:
square(6)

36

In [ ]:
#for and while is keyword used for looping statments
for i in range(1,10):
    print(i)

1
2
3
4
5
6
7
8
9

In [ ]:
a=1
while a<10:
    print(a)
    a+=1

1
2
3
4
5
6
7
8
9

In [ ]:
#in also keyword used to check the value is available in sequance or not
a="Welcome"
'i' in a

False

In [ ]:
'o'in a

True

In [ ]:
#del also a keyword used to delete the object
del a

In [ ]:
# a is deleted permanatly

In [ ]:
bool(6)

True

## 3) c compare and contrast mutable and immutable object in python with examples.
ans:- In python , object can be mutable or immutable
1) mutable:-- changeable/ modifiable and immutable means uchangeable
2) mutable one we difine the object we can perform modification operation means we can add and remove the element the that object
and immutable once we difine we can not add or remove or change  the object'
3) mutable object such as list , set and dictionaries can be midify after the creation,while immutable object like int, string and tuple we can not modify after creation.
4) see the example below

In [ ]:
s="welcome" # s is string object we created and s conatain the welcome string
print(id(s)) # check the memory address
# if we try to change the value of s ten new object will be created becouse of python us dynamically type language and memory is allocated based  the value of variable
s=56
print(id(s))
# see address is differnt it will create new object string is immutable

2862100037296
140735898307080

In [ ]:
# tuple alos a immutable object we cant change the contain in tuple
t=(1,2,3,4,5)
print(t)
print(id(t))
t=(1,2,3,4,5)
print(id(t))

(1, 2, 3, 4, 5)
2862128962816
2862128965616

list, set and dictionary are mutable we can perform the opration like insert and delete and change lets see
in list we can add remove and change the element using append() insert() method we can add the element and pop() and remove we can deeted the element
and = assignment opearors we can change the element lets see example

In [ ]:

l=[1,2,3,4,5]
print(l)
print(id(l))
l.append("Welocme") # append() method insert the element to the last of list and addresses is same after modification
print(l)
print(id(l))
l.insert(3,"Python") # insert() used to add the element at the perticuler index position
print(l)
print(id(l))
l.pop()# pop() used to remove the last element in list and return the deleted element
l.pop(2)#also we can pass the index postion in pop(index) the perticuler index position lement will be removed
print(l)
l.remove(4)# remove the perticuler element/value in the list if value is not present then its gives yhe value error
l[3]="PWSkills" # change the 3rd index element  by  "PWSkills"
print(l)

[1, 2, 3, 4, 5]
2862129108736
[1, 2, 3, 4, 5, 'Welocme']
2862129108736
[1, 2, 3, 'Python', 4, 5, 'Welocme']
2862129108736
[1, 2, 'Python', 4, 5]
[1, 2, 'Python', 'PWSkills']

In [ ]:
# set also mutable object we can used add() and pop() for modification
s={1,2,3,4,5}
print(s)
print(id(s))
s.add('hello')
print(s)
print(id(s))
s.pop()# in set pop() does not take any arguments by defualt it will delete any number
s.remove(5)# remove the perticuler element in set
print(s)

{1, 2, 3, 4, 5}
2862128707872
{1, 2, 3, 4, 5, 'hello'}
2862128707872
{2, 3, 4, 'hello'}

 dict():-- it is mutable data type we can used key value paire by using key we can change the value and we can usee d pop() and popitems() for deletion
and update() used to add the one dictinary to another one
after creation we can update the dictionary and the address of updated one and old dictionary is always same

In [ ]:
d={'rollno':101,'name':"Ram",'mob':2345674521,'address':"Jalgaon"}
print(d)
print(id(d))
d1={'age':23,"marks":67,'email':"ram123@gmail.com"}
print(d1)
print(id(d1))
d.update(d1)# add the new dictinary
print(d)
print(id(d))
d.pop('age')# remove the last age key:value pair and return the value
print(d)
d.popitem()# deleted the last one key value pair and return the key value in tuple format
d['salary']=450000# add the new key value pair to the d dictionary
print(d)
d['address']='Pune'# here we can change the address value by Pune
print(d)
print(id(d))
# after updation the address is remain same hence called the mutability

{'rollno': 101, 'name': 'Ram', 'mob': 2345674521, 'address': 'Jalgaon'}
2862125209216
{'age': 23, 'marks': 67, 'email': 'ram123@gmail.com'}
2862134193472
{'rollno': 101, 'name': 'Ram', 'mob': 2345674521, 'address': 'Jalgaon', 'age': 23, 'marks': 67, 'email': 'ram123@gmail.com'}
2862125209216
{'rollno': 101, 'name': 'Ram', 'mob': 2345674521, 'address': 'Jalgaon', 'marks': 67, 'email': 'ram123@gmail.com'}
{'rollno': 101, 'name': 'Ram', 'mob': 2345674521, 'address': 'Jalgaon', 'marks': 67, 'salary': 450000}
{'rollno': 101, 'name': 'Ram', 'mob': 2345674521, 'address': 'Pune', 'marks': 67, 'salary': 450000}
2862125209216

 ##  4 Discuss the different types of operators in Python and provide examples of how they are used
 ans:- #ans 1) arithmatic operators
+,-,*,%,/,// this are the arithmatic oprators used to perform some arithmatic calculation

In [ ]:
a,b=20,10
print(a+b)
print(a-b)

str1="welcome"
str2="Python"
print(a+b)
#+ operator used for addition of two number and also used for join two string used only 2 string and
#+ int otherwise gives error
print(str1+str2)
print(a-b)
# - operators used from subtraction of two number the umber can be int or  float
print(a/b)
# / division operators used for division of number return the floating point value
print(a//b)
# // this is floor division operators it return the return only interger result
print(a*b)
# * operators is multiplication opeartors used from multiply two number also used for repeation perpuse
#if we pass 1 string and 1 int then the string is reapeted by number
print(str1*b)
# ** is called exponension operator mean power of number it work as like 4 to the power 3
print(4**3)

30
10
30
welcomePython
10
2.0
2
200
welcomewelcomewelcomewelcomewelcomewelcomewelcomewelcomewelcomewelcome
64

2) logical operators

Logical operators are used on conditional statements (either True or False). They perform Logical AND, Logical OR, and Logical NOT
operations.
logical and result is true if only  two operand is true otherwise afalse.
logical or is true if any operand is true then true otherwise false.

In [ ]:
a=30
#b=70
print(a>10 and a<50)# True
print(a>10 or a<50)# True
print(a<10 or a>100)#False
print(a<50 and a>40)#False

True
True
False
False

 3) relational operators :- >,<,>=,<=,==,!=this operators  also known as comparision operators
 comapre the two oprands
'>' greater than operators if right hand side operator is greater then return True otherwise return false .
'>=' greater than equal to operators if right hand side operator is greater or equal  then return  True otherwise return false .
'<' less than operators if right hand side operator is less than left side opeators then return True otherwise return false .
'<=' less than operators if right hand side operator is less than pr equal to left side opeators then return True otherwise return false .
'==' equal to operators if right hand side operator is same as  left side opeators then return True otherwise return false .
'!=' not equal to operators if right hand side operator is not same as  left side opeators then return True otherwise return false .

In [ ]:
a=50
b=60
print(a>b)
print(a<b)
print(a>=b)
print(a<=b)
print(a==b)
print(20!=30)

False
True
False
True
False
True

In [ ]:
#example
a=200
b=40

if a>b:
    print(" a is greater than b")
elif a==b:
    print("a eqaual to b")
else:
    print(" a is less than b")

 a is greater than b

 4. Bitwise operators:-- &,|,^,~,<<,>>

'&' bitwise AND operators:-- if both bits are 1 then result is 1 otherwise 0.
'^ '  :-- if bits are diffrent then only result is 1 otherwise False.
'~' compliment operators :- means 1 means 0and 0 means 1.
'|' bitwise OR:-- if atleast one bit is 1 then result is 1 otherwise 0.
'>>'left shift. shift the bit left side
 '<<' right shift. shift bit ti right side

In [ ]:
print(4&6)

4

#here result is 4 how is it lets see binary of 4 is 100 and bin(6) is 110
use the & oprators its say that if both opeatand are 1 then result is 1 otherwise 0

In [ ]:
bin(4)

'0b100'

In [ ]:
bin(6)

'0b110'

100
&
110=
100

In [ ]:
print(5&6)

4

In [ ]:
bin(5)

'0b101'

101
&
110
-------
100

In [ ]:
4|5

5

same here convert binary of 4 and 5 and use the or | oprators atleast bit value is 1 then 1 otherwise false

In [ ]:
print(59|79)

127

In [ ]:
print(59&79)

11

In [ ]:
~7

-8

In [ ]:
4<<2

16

In [ ]:
4>>2

1

In [ ]:
bin(4)

'0b100'

In [ ]:
bin(16)

'0b10000'

5. special operator like identity and membership oprators identity 'is', 'is not' is used to compare the address of two different variable is value is true if address is same other wise false and is not is vice versa
'membership oprators' in and not in it used in sequence data it is used to check the perticuler value is present in given sequence -- in and not in. 'in' :--  if value is present then true otherwise fasle and not in is vice versa. lets see example

In [ ]:
l=[1,2,3,4,5,6,]
print(7 in l)
print(5 in l)
print(6 not in l)
print(7 not in l)

False
True
False
True

In [ ]:
s1="welcome"
s2="Welcome"
s3="welcome"
print(s1 is s2)
print(s1 is s3)
print(s1 is not s3)
print(s1 is not  s2)

False
True
False
True

In [ ]:
print(id(s1))
print(id(s2))
print(id(s3))

2862100037296
2862117225968
2862100037296

#here address of s1 and s3 is same becouse of value s1 and s3 is same

## 5. explain the concept of type casting

ans:-  #type casting is a converting  data  type to another data type
there are differnt function see int(), str(), bool(),float()list(),tuple(),set(),bin(),hex(),oct()
int() it convert string and bool value into interger then used one thing is remember it convert only number string"6" and in boolean value True is always 1 and False is 0
str(): convert  one data type into string
bool(): convert any value into bool like True an False in string if string is empty then bool value is Fasle

In [ ]:
print(int('6'))
print(int(True))
print(int(False))
print(int(67.8))
#print(int('welcome'))

#here "welcome " is string it contain alphabet char so it is not converted its givesvalue error

6
1
0
67

In [ ]:
# 2) str():
print(str(10))
print(str(45.7))
print(str(True))
print(str(False))

10
45.7
True
False

In [ ]:
#3) bool()
''' bool(): convert any value into bool like True an False in string if string is empty then bool value is Fasle also same in
0 is treated as Fasle.
and
'''
a=30
s="Welcome"
s1=""
f=56.7
print(bool(a))
print(bool(s))
print(bool(s1))
print(bool(f))
print(bool(0))

True
True
False
True
False

In [ ]:
#float():-- convert int and bool into float
a=30
s="Welcome"
s1=""
b=True
b1=False
a1=0
print(float(a))
print(float(a1))
#print(float(s1))
#print(float(s))
print(float(b))
print(float(b1))

30.0
0.0
1.0
0.0

In [ ]:
#bin():--convert any number,digit into binary also convert hexa and oct into binary
print(bin(6))
print(bin(0xA4))
print(bin(0o7))

0b110
0b10100100
0b111

In [ ]:
# hex():-- convert any decimal into hexa decimal
print(hex(0b10100100))
print(hex(47))
print(hex(0o45))
print()

0xa4
0x2f
0x25

In [ ]:
#oct():--- convert any decimal into octal
print(oct(0b101))
print(oct(77))
print(oct(0x48))
print()

0o5
0o115
0o110

In [ ]:
# list() set(),tuple(),dict() convert the sequenctial data type
''' list() convert any sequential data type i.e tuple and set and dict
into list and in dict convert ito list it will take only keys'''
t=(1,2,3,4,5,True,"Welcome")
s={1,2,3,True,False,'Hello'}
d={1:'neha',2:'Raj',3:'Siya',4:'Ram'}
print(list(t))
print(list(s))
print(list(d))
#print(list(t))

[1, 2, 3, 4, 5, True, 'Welcome']
[False, 1, 2, 3, 'Hello']
[1, 2, 3, 4]

In [ ]:
''' tuple() convert any sequential data type i.e list,set and dict
into tupe and in dict convert into tuple it will take only keys'''
l=[1,2,3,4,5,True,"Welcome"]
s={1,2,3,True,False,'Hello'}
d={1:'neha',2:'Raj',3:'Siya',4:'Ram'}
print(tuple(l))
print(tuple(s))
print(tuple(d))

(1, 2, 3, 4, 5, True, 'Welcome')
(False, 1, 2, 3, 'Hello')
(1, 2, 3, 4)

In [ ]:
''' set() convert any sequential data type i.e list tuple and dict
into set and in dict convert into tuple it will take only keys and duplicated value will be removed
# dict() we can not convert sequential data type into dict() ,
dict conatain the data in key: value pair that why convertion is not possible
'''
l=[1,2,3,4,5,True,"Welcome"]
t=(1.5,25,3,True,False,'Hello')
d={1:'neha',2:'Raj',3:'Siya',4:'Ram'}
print(set(l))
print(set(t))
print(set(d))

{1, 2, 3, 4, 5, 'Welcome'}
{False, 1.5, True, 3, 'Hello', 25}
{1, 2, 3, 4}

## 6) how to conditional statement work in python ? illustrate with example.
ans .  In python if , elif and else this are the conditional statement
1) simple if:- in python program contaion only if block , it check the condition and condition is true then  control goes to if b block nd f block will be executed.
2) if else:- if used only one and else is also one
 if statemet conatain the condition, when you compare the condition and it check the condition and condition is True it control  goes to the  if block and if block is executed.
if condition is false then executed else block. and in condition statement indendetion is compulsory
3) if elif else  ():-- when you have the multiple condition and choice then we can used elif statement we can used multiple elif block in your program, it check the conditin and condition is false  control goes to the elif block if elif block is True then elif block is executed other wise again check the next elif blok and this block is false then go to next and not executed any elif block then else block will be executed .              
lets  see the below example

In [ ]:
day=int(input("Enter the number from 1 to 7 only"))
if day==1:
    print("Today is Monday ")
elif day==2:
    print("Today is Tuesday ")
elif day==3:
    print("Today is Wednesday ")
elif day==4:
    print("Today is Thursday ")
elif day==5:
    print("Today is Friday ")
elif day==6:
    print("Today is Saturday ")
elif day==7:
    print("Today is Sunday")
else:
    print("Please enter the valid number from 1 to 7")

Enter the number from 1 to 7 only 5

Today is Friday

In above example.  enter the day value if day is 1 then it match with if block and if block will be excuted and stop your execution.
in case day value is 3 then control goes to next elif block it check the condition if condition  is match and result is True
then it exexuted the this elif block. in case if and elif block is False the  else block will be executed

## 7) Describe the differnt type of loop in python and their use cases with example
ans:- in python it has two loop for loop and while loop
1) for loop is used for iterating over the sequence and  "while" loop are used for executing code  until a specific condition become False.
lets see example below.

In [ ]:
# program to print the nth natural number using for and while loop
# for loop work on sequential type
n=int(input("Enter the nth term"))
for i in range(1,n):
    print(i)

Enter the nth term 10

1
2
3
4
5
6
7
8
9

 using while loop:- in while loop first need to initaioalization the variable as second condition and 3 rd is increament  and decreament value statment

In [ ]:
n=int(input("Enter the nth term"))
a=1 # initialization
while a<=n: # condition
    print(a)
    a+=1 # increament

Enter the nth term 10

1
2
3
4
5
6
7
8
9
10

In [ ]:
list1=[1,2,3,4,5,"Welcome",6,7,8]
for i in list1:
    print(i)

1
2
3
4
5
Welcome
6
7
8

## -----------------------------End of First Assignment-------------------------------